<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <!-- *ngIf="user" -->
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/Home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/Register" routerLinkActive="active">Register</a>
        <a class="nav-item nav-link" routerLink="/Login" routerLinkActive="active" >Logout</a> 
        <!-- (click)="logout()" -->
    </div>
</nav>

<router-outlet></router-outlet>


