
<div class="container">
   

<div class="d-flex col-sm-3 mx-auto">
<div class="card">
    <h4 class="card-header text-center" style="color: blue;">Student Management System</h4>
    <h3 class="card-header" style="color: blueviolet;">Login</h3>
    <div class="card-body">
        <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
            <div class="input">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" required autofocus/>
              
            </div>
            <div class="input">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" required />
               
            </div>
        
            <div class="btn">
                <button  type="submit" class="form-control"  class="btn btn-primary">
                    Login
                </button>
               
            </div>
         
        </form>
    </div>
</div>
</div>
</div>
<router-outlet></router-outlet>
